.container__menu-title {
  width: 50%;
  display: flex;
  margin: 0 auto;
}

@media screen and (max-width:600px) {
  .container__menu-title > h1{
    font-size: 60px;
  }
  .container__menu-title > img{
    width: 240px;
    height: 240px;
  }
  .container__menu-title {
    width: 80%;
  }
}