<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card
      Id="1"
      photoCover="../../../assets/news/diabo.jpg"
      cardTitle="Cuphead e Mugman derrotam o Diabo e salvam suas almas."
      cardDescription="Os dois irmãos, que apostaram suas almas em um jogo de dados com o Diabo, conseguiram vencer todos os seus devedores e coletar seus contratos de alma."
      >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle="O Rei Dado é preso por fraude e trapaça."
      photoCover="../../../assets/news/rei dado.jpg"
      cardDescription=" O Rei Dado, o braço direito do Diabo e o dono do cassino onde Cuphead e Mugman fizeram sua aposta fatal, foi preso pela polícia após uma investigação revelar que ele usava dados viciados, cartas marcadas e máquinas caça-níqueis manipuladas para enganar seus clientes."
    >
    </app-small-card>

    <app-small-card
      Id="3"
      cardTitle="A Fada do Açúcar revela seus segredos de culinária."
      photoCover="../../../assets/news/fada do acucar.jpg"
      cardDescription="A Fada do Açúcar, uma das aliadas de Cuphead e Mugman em sua jornada, concedeu uma entrevista exclusiva para a nossa revista e revelou seus segredos de culinária."
    >
    </app-small-card
    >

    <app-small-card
      Id="4"
      cardTitle="O Barão do Zeppelin se aposenta e doa sua fortuna para a caridade."
      photoCover="../../../assets/news/barao zeplin.jpg"
      cardDescription="O Barão do Zeppelin, um dos devedores do Diabo que foi derrotado por Cuphead e Mugman, anunciou sua aposentadoria e sua decisão de doar toda a sua fortuna para a caridade."
    >
    </app-small-card>

    <app-small-card
      Id="5"
      cardTitle="A Ilha Tinteiro recebe uma nova atração turística: o Museu do Cuphead."
      photoCover="../../../assets/news/ilha-tinteiro.jpg"
      cardDescription="A Ilha Tinteiro, o lar de Cuphead e Mugman, recebeu uma nova atração turística: o Museu do Cuphead, um lugar dedicado à história e às aventuras dos dois heróis."
    >
    </app-small-card>
  </div>
</div>
